body {
    font-family: Arial, sans-serif;
    font-size: 18px; /* Medium size font */
  }
  
  h2 {
    color: #444;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px auto; /* Center the table horizontally */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  /* Styles for the IN button */
  button.in-button {
    background-color: #37b5f0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button.in-button:hover {
    background-color: #37b5f0;
  }
  
  /* Styles for the OUT button */
  button.out-button {
    background-color: #37b5f0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button.out-button:hover {
    background-color: #37b5f0;
  }
  
  /* New styles for side-by-side layout */
  .container {
    display: flex;
    justify-content: space-around;
  }
  
  .in-section, .out-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }